<h1> Liste des etudiants </h1>
<a href="{{path('trier_students')}}">trier </a> 
<a href="{{path('ajouter_student')}}" >add article </a>
<br>
<br>
{#
<label> Nsc : </label>
<input class="search" name="search" type="search" > 
<a href="{{path('find_student')}}" > chercher</a>
#} 

{{form(searchform)}}

<br><br>
<table border="1">
<tr>
 <td> NSC </td>
 <td> Email </td>
 <td> Classe </td>
  <td> Action </td>
</tr>
 
{% for i in students %}
<tr>
 <td>{{i.nsc}} </td>
 <td>{{i.email}} </td>
 <td>{{i.classe.name}} </td>
 <td>
<a href="{{path('supprimer_student',{'nsc':i.nsc})}}">remove </a>
<a href="{{path('modifier_student',{'nsc':i.nsc})}}">modifier </a>
</td>
</tr>

{% endfor %}
</table>

<h3> Le nbre d'etudiant = {{n}} </h3>